<footer class="footer-wrap footer-dashboard">
                 <div class="main-footer">
                <div class="container">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                        <div class="col">
                            <div class="footer-box">
                                <div class="footer-logo">
                                    <a><img src="/static/picture/Logo_Dark_1.png" alt="Logo"></a>
                                </div>
                                <p>Record and save your dreams, and get in-depth interpretations and personalized activity recommendations with our unique analysis tools.</p>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Important Links
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a>Home</a></li>
                                        <li><a>About us</a></li>
                                        <li><a>Contact</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Dream
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a>Record Dream</a></li>
                                        <li><a>My Dream History</a></li>
                                        <li><a>All Recommended Activities</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Mine
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li>
                                    <a>Personal Homepage</a>
                                </li>
                                <li>
                                    <a>My Profile</a>
                                </li>
                                <li>
                                    <a>Visualization Analysis</a>
                                </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="footer-bottom">
                <div class="footer-copyright">DreamScapeInsights 2024. All Rights By Group 6 Yumekui</div>
            </div>
</footer>