<header class="fixed-header">
    <div class="header-menu">
        <div class="navbar">
            <div class="nav-item d-none d-sm-block">
                <div class="header-logo">
                    <a href="{{ url_for('back_to_home') }}"><img src="/static/picture/logo_minimini.png" alt="Cirkle"></a>
                </div>
            </div>
            <div class="nav-item nav-top-menu">
                <nav id="dropdown" class="template-main-menu">
                    <ul class="menu-content">
                        <li class="header-nav-item">
                            <a href="{{ url_for('back_to_home') }}" class="menu-link active">Home</a>
                        </li>
                        <li class="header-nav-item">
                            <a href="#" class="menu-link have-sub">Dream</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ url_for('dream.create') }}">Record Dream</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('dream.my_dream') }}">My Dream History</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('activity.activity_list') }}">All Recommended Activities</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-nav-item">
                            <a href="#" class="menu-link have-sub">Mine</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ url_for('profile.homepage') }}">Personal Homepage</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('profile.display_profile') }}">My Profile</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('analysis.display_analysis') }}">Visualization Analysis</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="nav-item header-control">
<!--                <div class="inline-item d-none d-md-block">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" name="search" class="form-control" placeholder="Search here.......">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="submit-btn" type="button"><i class="icofont-search"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                    <div class="inline-item d-none d-md-block">
                        <form action="{{ url_for('dream.search') }}" id="search_form" method="post" style="margin-block-end: 0">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Search here.......">
                            <div class="input-group-append">
                                <button class="submit-btn" type="submit"><i class="icofont-search"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>
                <div class="inline-item d-flex align-items-center">
                    <a href="#" style="color: white"><i class="icofont-phone"> 182 - 3120 - 8888</i></a>
                    <!--
                    <div class="dropdown dropdown-cart">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="icofont-shopping-cart"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Shopping Cart: <span>3</span></h6>
                            </div>
                            <div class="item-body">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/cart_1.jpg" alt="Product">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a href="#">Black Coffee Mug</a></h6>
                                        <div class="item-category">COFFEE MUGS</div>
                                        <div class="item-price">$29 x 1</div>
                                        <div class="btn-area">
                                            <a href="#" class="close-btn"><i class="icofont-ui-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/cart_2.jpg" alt="Product">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a href="#">Head Phone</a></h6>
                                        <div class="item-category">Assets</div>
                                        <div class="item-price">$15 x 1</div>
                                        <div class="btn-area">
                                            <a href="#" class="close-btn"><i class="icofont-ui-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/cart_3.jpg" alt="Product">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a href="#">Black Watch</a></h6>
                                        <div class="item-category">Watch</div>
                                        <div class="item-price">$59 x 1</div>
                                        <div class="btn-area">
                                            <a href="#" class="close-btn"><i class="icofont-ui-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-footer">
                                <a href="#" class="view-btn">View All Product</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-friend">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="icofont-users-alt-4"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Friend Requests</h6>
                                <div class="heading-btn">
                                    <a href="#">Settings</a>
                                    <a href="#">Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/chat_5.jpg" alt="Notify">
                                        <span class="chat-status offline"></span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a href="#">Lily Zaman</a></h6>
                                        <p>4 in mutual friends</p>
                                        <div class="btn-area">
                                            <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                                            <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/chat_1.jpg" alt="Notify">
                                        <span class="chat-status online"></span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a href="#">Ketty Rose</a></h6>
                                        <p>3 in mutual friends</p>
                                        <div class="btn-area">
                                            <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                                            <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/chat_8.jpg" alt="Notify">
                                        <span class="chat-status online"></span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a href="#">Rustom vai</a></h6>
                                        <p>6 in mutual friends</p>
                                        <div class="btn-area">
                                            <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                                            <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-footer">
                                <a href="#" class="view-btn">View All Friend Request</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-message">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="icofont-speech-comments"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Message</h6>
                                <div class="heading-btn">
                                    <a href="#">Settings</a>
                                    <a href="#">Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/notifiy_1.png" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Diana Jameson</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>when are nknowen printer took galley of types ...</p>
                                    </div>
                                </a>
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/notifiy_2.png" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Quirty</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>when are nknowen printer took galley of types ...</p>
                                    </div>
                                </a>
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/notifiy_3.png" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Zinia Jessy</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>when are nknowen printer took galley of types ...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-footer">
                                <a href="#" class="view-btn">View All Messages</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-notification">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="icofont-notification"></i><span class="notify-count">3</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Notifications</h6>
                                <div class="heading-btn">
                                    <a href="#">Settings</a>
                                    <a href="#">Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/notifiy_1.png" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Diana Jameson</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>when are nknowen printer took galley of types ...</p>
                                    </div>
                                </a>
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/notifiy_2.png" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Quirty</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>when are nknowen printer took galley of types ...</p>
                                    </div>
                                </a>
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="/static/picture/notifiy_3.png" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Zinia Jessy</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>when are nknowen printer took galley of types ...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-footer">
                                <a href="#" class="view-btn">View All Notification</a>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <div class="inline-item">
                    <div class="dropdown dropdown-admin">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <span class="media">
                                <span class="item-img">
                                    {% if g.user.avatar_url %}
                                    <img src="{{ g.user.avatar_url }}" style="width: 44px; height: 44px" alt="Chat">
                                    {% else %}
                                    <img src="/static/upload/default_photo.jpeg" style="width: 44px; height: 44px" alt="Chat">
                                    {% endif %}
                                    <span class="acc-verified"><i class="icofont-check"></i></span>
                                </span>
                                <span class="media-body">
                                    <span class="item-title">{{ g.user.name }}</span>
                                </span>
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="admin-options">
                                <li><a href="{{ url_for('profile.display_profile') }}">Profile Setting</a></li>
                                <li><a href="{{ url_for('policy') }}">Private Policy</a></li>
                                <li><a href="{{ url_for('Service') }}">Terms of Service</a></li>
                                <li><a href="{{ url_for('about') }}">About Us</a></li>
                                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="fixed-sidebar">
    <div class="fixed-sidebar-left small-sidebar">
        <div class="sidebar-toggle">
            <button class="toggle-btn toggler-open">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="sidebar-menu-wrap">
            <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
                <ul class="side-menu">
                    <li><a href="{{ url_for('profile.homepage') }}" class="menu-link" data-toggle="tooltip" data-placement="right" title="PERSONAL HOMEPAGE"><i class="icofont-newspaper"></i></a></li>
                    <li><a href="{{ url_for('dream.create') }}" class="menu-link" data-toggle="tooltip" data-placement="right" title="RECORD DREAM"><i class="icofont-list"></i></a></li>
                    <li><a href="{{ url_for('dream.my_dream') }}" class="menu-link" data-toggle="tooltip" data-placement="right" title="DREAM HISTORY"><i class="icofont-history"></i></a></li>
                    <li><a href="{{ url_for('activity.activity_list') }}" class="menu-link" data-toggle="tooltip" data-placement="right" title="RECOMMENDED ACTIVITIES"><i class="icofont-result-sport"></i></a></li>
                    <li><a href="{{ url_for('analysis.display_analysis') }}" class="menu-link" data-toggle="tooltip" data-placement="right" title="VISUALIZATION ANALYSIS"><i class="icofont-chart-histogram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fixed-sidebar-left large-sidebar">
        <div class="sidebar-toggle">
            <div class="sidebar-logo">
                <a href="{{ url_for('back_to_home') }}"><img src="/static/picture/Logo_mini.png" alt="Logo"></a>
            </div>
            <button class="toggle-btn toggler-close">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="sidebar-menu-wrap">
            <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
                <ul class="side-menu">
                    <li><a href="{{ url_for('profile.homepage') }}" class="menu-link"><i class="icofont-newspaper"></i><span class="menu-title">Personal Homepage</span></a></li>
                    <li><a href="{{ url_for('dream.create') }}" class="menu-link"><i class="icofont-list"></i><span class="menu-title">Record Dreams</span></a></li>
                    <li><a href="{{ url_for('dream.my_dream') }}" class="menu-link"><i class="icofont-history"></i><span class="menu-title">Dream History</span></a></li>
                    <li><a href="{{ url_for('activity.activity_list') }}" class="menu-link"><i class="icofont-result-sport"></i><span class="menu-title">Recommended Activities</span></a></li>
                    <li><a href="{{ url_for('analysis.display_analysis') }}" class="menu-link"><i class="icofont-chart-histogram"></i><span class="menu-title">Visualization Analysis</span></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- Sidebar Right -->

<div class="fixed-sidebar right">
    <div class="fixed-sidebar-right small-sidebar">
        <div class="sidebar-toggle" id="chat-head-toggle">
            <a href="{{ url_for('contact') }}">
            <button class="chat-icon">
                <i class="icofont-speech-comments"></i>
            </button>
            </a>
        </div>
    </div>
</div>

