{#{% import "_macros.html" as macros %}#}
{% import "_macros2.html" as macros %}
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DreamScapeInsights | Dream History</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/picture/favicon.png">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/icofont.min.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/slick-theme.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/sal.css" type="text/css">
    <link rel="stylesheet" href="../static/css/select2.min.css" type="text/css">
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="../static/css/app.css">
    <link href="../static/css/css2.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bg-link-water">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="icofont-bubble-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    {% extends "common/base.html" %}
    {% block content %}

        <!-- Page Content -->
        <div class="page-content">

            <!--=====================================-->
            <!--=        Newsfeed  Area Start       =-->
            <!--=====================================-->
            <div class="container">
                <!--个人页面顶部背景-->
                <div class="banner-user banner-forum">
                    <div class="banner-content">
                        <div class="media">
                            <div class="item-img">
                                <img src="../static/picture/chiikawa.jpg" style="width: 115px; height: 115px" alt="Default" id="user-image" >
                            </div>
                            <div class="media-body">
                                <h3 class="item-title">Yumekui</h3>
                                <div class="item-subtitle">Only for cloud computing</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-box user-top-header">
                    <ul class="menu-list">
                        <li><a>Home</a></li>
                        <li><a>Profile</a></li>
                        <li><a href="">Record</a></li>
                        <li class="active"><a>History</a></li>
                        <li><a>Activities</a></li>
                        <li><a>Analysis</a></li>
                        <li></li>
                    </ul>
                </div>
                <!--正式内容-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="block-box user-timeline-header">
                            <ul class="menu-list d-none d-md-block" style="font-size: 18px">
                                <li><a class="active">My Dreams History</a></li>
                            </ul>
                            <div class="header-dropdown d-md-none">
                                <label>Select:</label>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-expanded="false">
                                        My Dreams History
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item">My Dreams History</a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-dropdown" style="font-size: 18px">
                                <label style="color: #0b0b0b">All Emotions</label>
                            </div>
                        </div>
                            {% for post in pagination.items %}
                                <div class="block-box post-view">
                                    <div class="post-header">
                                        <div class="media">
                                            <div class="media-body">
                                                </div>
                                            </div>
                                    </div>
                                    <div class="post-body">
                                        <p style="font-size:20px;">Your Upload File: {{ post.audio }}</p>
                                        <p></p>
                                    </div>
                                    <div class="post-footer">
                                        <ul>
                                            <li class="tag">
                                                {% if post.tag == 'happy' %}
                                                    <div class="entry-category"
                                                         style="background-color: #FACA82;color: #ffffff;font-size: 16px;font-weight: 600;padding: 0 12px; width:80px; text-align: center; border-radius: 2px;margin-right: 2px;margin-bottom: 14px;">{{ post.tag }}</div>
                                                {% elif post.tag == 'neutral' %}
                                                    <div class="entry-category"
                                                         style="background-color: #a7de8f;color: #ffffff;font-size: 16px;font-weight: 600;padding: 0 12px; width:80px; text-align: center; border-radius: 2px;margin-right: 2px;margin-bottom: 14px;">{{ post.tag }}</div>
                                                {% elif post.tag == 'sad' %}
                                                    <div class="entry-category"
                                                         style="background-color: #9DD6FF;color: #ffffff;font-size: 16px;font-weight: 600;padding: 0 12px; width:80px; text-align: center; border-radius: 2px;margin-right: 2px;margin-bottom: 14px;">{{ post.tag }}</div>
                                                {% elif post.tag == 'fear' %}
                                                    <div class="entry-category"
                                                         style="background-color: #c9c6ff;color: #ffffff;font-size: 16px;font-weight: 600;padding: 0 12px; width:80px; text-align: center; border-radius: 2px;margin-right: 2px;margin-bottom: 14px;">{{ post.tag }}</div>
                                                {% elif post.tag == 'angry' %}
                                                    <div class="entry-category"
                                                         style="background-color: #FF8686;color: #ffffff;font-size: 16px;font-weight: 600;padding: 0 12px; width:80px; text-align: center; border-radius: 2px;margin-right: 2px;margin-bottom: 14px;">{{ post.tag }}</div>
                                                {% endif %}
                                            </li>
                                            <li class="post-share">
                                                <a class="share-btn" style="font-size:16px;"><i
                                                        class="icofont-clock-time"></i>running time: {{ post.run_time }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if pagination.total > 0 %}
                            <div class="pagination">
                                {{ macros.pagination_widget(pagination, '.my_dream',page_arg='page_all') }}
                                                                 {{ macros.pagination_widget(pagination, '.my_dream') }}
                            </div>
                            {% endif %}
                    </div>
                </div>

            </div>


        </div>
        </div>
    {% endblock %}
<!-- Jquery Js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/imagesloaded.pkgd.min.js"></script>
<script src="../static/js/isotope.pkgd.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/sal.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/validator.min.js"></script>
<script src="../static/js/select2.min.js"></script>

<!-- Site Scripts -->
<script src="../static/js/app.js"></script>
</body>